<section id="registration" class="register-section">
  <div class="form-card">
    <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
      <div *ngIf="currentStep === 1">
        <div class="form-title">Register</div>
        <label for="phone_number">WhatsApp Number</label>
        <input
          type="text"
          id="phone_number"
          name="phone_number"
          [(ngModel)]="phone_number"
          required
        />
        <button type="button" (click)="nextStep(registerForm)" [disabled]="!registerForm.form.valid">
          Next
        </button>
      </div>

      <div *ngIf="currentStep === 2">
        <div class="form-subtitle">Verify OTP</div>
        <label for="otp">Enter your OTP</label>
        <input
          type="text"
          id="otp"
          name="otp"
          [(ngModel)]="otp"
          required
        />
        <button type="button" (click)="prevStep()">Previous</button>
        <button type="submit" [disabled]="!registerForm.form.valid">Submit</button>
      </div>
    </form>

    <div class="existingUser">
      <span>Already have an Account?</span>
      <a href="/login">Login</a>
    </div>
    <div style="text-align:center;margin-top:40px;">
      <span class="step" (click)="setActiveTab(1)" [ngClass]="{'active': currentStep === 1}"></span>
      <span class="step" (click)="setActiveTab(2)" [ngClass]="{'active': currentStep === 2}"></span>
    </div>
  </div>
</section>
