.register-section {
  /* scroll-snap-align: start; */
  /* height: 100vh; */
  /* padding: 2rem; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.form-card {
  border: 5px solid black;
  border-radius: 15px;
  width: 21.875rem;
  height: 25rem;
  padding: 2.5%;
  box-shadow: 10px 10px #ccc;
}
.check {
  display: flex;
  flex-direction: 2 1fr;
  justify-content: start;

  width: 100%;
}
.check input{
  width: 20%;
}
.check label{
  width: 80%;
}
.register-section form {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register-section label {
  padding: 0.625rem;
  font-size: large;
  width: 100%;
}
#email, #phone_number {
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  font-size: large;
  width: 100%;
}
.form-title {
  font-size: 5rem;
  font-weight: 700;
  width: 100%;
  margin-bottom: 1.25rem ;
  text-decoration: underline;
}
.existingUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.existingUser span {
  margin-top: 1rem;
  font-size: 0.625rem;
  color: grey;
  text-decoration: underline;
}

.existingUser a {
  color: black;
  text-decoration: none;
}
.tab {
  display: none;
}
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}
.register-section button{
  margin-top: 5px ;
}
.form-subtitle {
  font-size: 2.5rem;
  font-weight: 500;
  width: 100%;
  margin-bottom: 3rem ;
  text-decoration: underline;
}

.reset_icon img{
  width:15px;
  height: 15px;
}
.mnemonic-display span {
  padding: 10px;
}
button {
  border-radius: 25px;
  color:#fffdf8;
  background-color: black;
  padding: 15px;
  width: 100px;
  margin-top: 1.25rem;
}
/*
.disable button {} */
button:disabled {
  background-color: #ccc;
  color: #474747;
  cursor: not-allowed;

}
input {
  margin-bottom: 2rem;
}
