huggingface_hub
transformers
protobuf
numba
numpy
tensorflow
torch
torchvision
tensorrt
torch-tensorrt
xformers
bitsandbytes
exllamav2
auto-gptq
autoawq
llama-cpp-python
tiktoken
transformers_stream_generator
quanto

optimum

diffusers
clip
kornia
taming-transformers
invisible-watermark
ftfy
regex
tqdm

addict
aenum
blendmodes
clean-fid
extcolors
facexlib
filetype
gdown
gfpgan
inflection
jsonmerge
lark
lmdb
lpips
omegaconf
open-clip-torch
opencv-contrib-python-headless
piexif
resize-right
safetensors
scipy
tensordict
torchdiffeq
voluptuous
scikit-image
basicsr
fasteners
dctorch
compel
torchsde
clip-interrogator
requests
accelerate
opencv-python-headless
einops
numexpr
pandas
pytorch_lightning
tokenizers
tomesd
urllib3
Pillow
timm
pydantic
typing-extensions
peft
datasets
sentencepiece
wandb
