:root {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --primary: #00FFC3;

    --safe-area-inset-bottom: calc(100vh - var(--tg-viewport-stable-height, 100vh))
}

* {
    outline: none !important;
}

.font-mosaic {
    font-family: "Jersey 10", sans-serif;
}

html, body {
    overscroll-behavior: none;
}

body {
    margin: 0;
    font-family: "Orbitron", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #1F223C;
    color: #ffffff;
}

.page-container {
    height: var(--tg-viewport-stable-height);
}

.page-content {
    position: relative;
    padding-top: calc(env(safe-area-inset-top) + 2rem);
    padding-bottom: calc(var(--safe-area-inset-bottom) + 8rem);
}

.border {
    border-top-width: 1px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 1px;
}

.text-shadow {
    color: black;
    text-shadow: 1px 0 white, 1px -1px white, 0 1px white, -1px 1px white, 2px 2px white;
}

.text-shadow-sm {
    color: black;
    text-shadow: 1px 0 white, 1px -1px white, 1px 1px white, 0 1px white, -1px 1px white, -1px -1px white;
}

.text-shadow-sm-primary {
    color: black;
    text-shadow: 1px 0 var(--primary), 1px -1px var(--primary), 1px 1px var(--primary), 0 1px var(--primary), -1px 1px var(--primary), -1px -1px var(--primary);
}


.flying-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: auto;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
