{% if client %}
    <h1>{{ client["name"] }}</h1>
{% else %}
    <h1>Client {{ name }} not found</h1>
{% endif %}
<table class="table align-middle mb-0 bg-white">
<thead class="bg-light">
    <tr>
      <th>File name</th>
      <th>Mutations</th>
      <th>Sequenced At</th>
      <th>UUID</th>
      <th>CID</th>
    </tr>
</thead>
<tbody>
{% for record in records %}
    <tr>
      <td>
          <p class="fw-bold mb-2">{{ record["diff_file_name"] }}</p>
      </td>
      <td>
          <p class="fw-normal mb-1">{{ record["mutations"] }}</p>
      </td>
      <td>
          <p class="fw-normal mb-1">{{ record["sequenced_at"] }}</p>
      </td>
      <td>
          <p class="fw-normal mb-1">{{ record["uuid"] }}</p>
      </td>
      <td>
          <p class="fw-normal mb-1">{{ record["ipfs_cid"] }}</p>
      </td>
    </tr>
{% endfor %}
</tbody>
</table>
