body, html {
    height: 100%;
    margin: 0px;
    font-family: Arial, sans-serif;
    background: url('./back.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Ensure sufficient contrast for readability */
option {
    color: black;
}

option[value="black"] {
    color: white; /* White text on black background for readability */
}


.container {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    max-width: 800px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);;
}

header .logo {
    width: 200px;
    margin-bottom: 20px;
    border-radius: 50%; /* Make the logo circular */
    object-fit: cover; /* Ensure the image is not distorted */
}

header .expl {
    width: 10px
    margin-bottom: 20px;
    border-radius: 15%;
    height: calc(100% - 100px);
            overflow: hidden;
            position: relative;
}

h1 {
    color: #333;
    margin: 20px 0;
}

table {
    width: 80%;
    margin: 20px auto;
    max-width: 600px;
    margin: 20px 0;
}

td {
    padding: 5px;
    vertical-align: middle;
    text-align: right;
}

label {
    display: inline-block;
    margin-right: 10px;
}

input[type="number"], input[type="range"], select {
    width: calc(100% - 10px);
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

select{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"], button {
    background-color: #f39c12;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type="submit"]:disabled, button:disabled{
    background-color: gray;
    cursor: not-allowed;
}

input[type="submit"]:hover:enabled, button:hover:enabled {
    background-color: #e67e22;
}

#d_diff_value {
    font-weight: bold;
    margin-left: 10px;
}
