body {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  background-color: #161807;
  background-image: url('./features//count/assets/bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 0px 0;
  color: #fff;
}

// resets

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.25s;
}

button {
  padding: 0;
  border: none;
  outline: none;

  &:not(:disabled) {
    cursor: pointer;
  }
}

button,
small {
  font: inherit;
}

#modal-root {
  ._overlay_ymry0_29 {
    ._modal_ymry0_44 {
      background: #000;

      ._header_ymry0_60 {
        background: #000;

        ._heading_ymry0_65 {
          color: #fff; // Ensure text is visible
        }

        ._button_tg87l_9 {
          background: #000;
          color: #fff; // Ensure button text is visible
        }
      }

      ._button_tg87l_9 {
        background: #000;
        color: #fff; // Ensure button text is visible
      }

      footer {
        background: #000;

        ._button_tg87l_9 {
          background: #000;
          color: #fff; // Ensure button text is visible
        }
      }
    }
  }
}
