{
  "current_time": {
    "secs": 0,
    "nanos": 0
  },
  "inner_code_commitment": [0, 0, 0, 0, 0, 0, 0, 0],
  "outer_code_commitment": [
    0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
    0, 0, 0, 0, 0, 0, 0
  ],
  "initial_base_fee_per_gas": [0, 0],
  "genesis_da_height": {{ genesis_da_height }}
}