[da]
# The JWT used to authenticate with the celestia light client. Instructions for generating this token can be found in the README
celestia_rpc_auth_token = "{{ celestia_auth_token }}"
# The address of the *trusted* Celestia light client to interact with
celestia_rpc_address = "http://127.0.0.1:26658"
# The largest response the rollup will accept from the Celestia node. Defaults to 100 MB
max_celestia_response_body_size = 104_857_600
# The maximum time to wait for a response to an RPC query against Celestia node. Defaults to 60 seconds.
celestia_rpc_timeout_seconds = 60
# Address of this sequencer. Should match address of connected bridge/full node.
own_celestia_address = "{{ sequencer_self_da_address }}"

[storage]
# The path to the rollup's data directory. Paths that do not begin with `/` are interpreted as relative paths.
path = "/mnt/rollup"

# We define the rollup's genesis to occur at block number `start_height`. The rollup will ignore
# any blocks before this height
[runner]
genesis_height = {{ rollup_da_start_height }}
da_polling_interval_ms = 100

[runner.rpc_config]
bind_host = "127.0.0.1"
bind_port = {{ rollup_json_rpc_port }}
[runner.axum_config]
bind_host = "127.0.0.1"
bind_port = {{ rollup_rest_rpc_port }}

[proof_manager]
aggregated_proof_block_jump = 1
prover_address = "{{ rollup_prover_address }}"
