body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/**************************************************************************/
/***************************** Customize CSS ******************************/
/**************************************************************************/

#showing{
  width: 400px;
  height: 400px;
}

#preview{
  width: 100%;
}

.cover{
  width: 50px;
  height: 50px;
  border: solid 2px #71366b;
  position: absolute;
  margin: 0px 0px 0px 100px;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  color: #000000;
  background-color: #4aab67;
  opacity: 0.6;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.puzzle{
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.Monospaced{
  font-family: "Courier New", Courier, monospace;
}