ELECTRON_MIRROR="https://npmmirror.com/mirrors/electron/"
ELECTRON_CUSTOM_DIR="{{ version }}"

#if not work
#try to use the following code
#npm config set registry=https://registry.npmmirror.com
#npm config get registry