body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/**************************************************************************/
/***************************** Customize CSS ******************************/
/**************************************************************************/

.inft_thumb{
  width: 100%;
}

.footer{
  position: fixed;
  bottom:0px;
  width: 100%;
  background: #FFFFFF;
}

#minter{
  width: 100%;
  min-width: 960px;
  height: 100%;
  min-height: 960px;
}

.pointer{
  cursor:pointer;
}

.parts{
  width: 60px;
}

.sidebar{
  width: 100%;
}

.template_thumb{
  height: 360px;
  background-size: cover; /* Scale the background image to cover the element */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
}

.ml-5{
  margin-left: 5px;
}

.mr-5{
  margin-right: 5px;
}

.ml-10{
  margin-left: 10px;
}

.view_thumb{
  width: 100%;
  border-radius: 5px;
}

.filter_icon{
  
  color:rgb(80, 80, 80);
}

.template_icon{
  width: 30px;
  height: 30px;
  margin-left: 5px;
  border-radius: 5px;
}

.template_normal{
  border: 2px solid #EEEEEE;
}

.template_selected{
  border: 2px solid #cc4141;
}

.series_thumb{
  width: 90px;
  height: 90px;
  border-radius: 10px;
  margin-right: 10px;
}

.apply_thumb{
  width:100%;
  border-radius: 10px;
  margin-right: 10px;
}

.bonus_thumb{
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin-right: 10px;
}

.avatar{
  width: 60px;
  height: 60px;
  border: 1px solid #EEEEEE;
}

.avatar_bounty{
  width: 60px;
  height: 60px;
  border: 1px solid #9ab4a1;
}

.qr{
  width: 200px;
  height: 200px;
  position: absolute;
  background: #AAAAAA;
  float: right;
  right:5px;
  top:5px;
  z-index: 999;
}

.qr_button{
  position: absolute;
  right:5px;
  top:5px;
  z-index: 998;
}

.bounty_title{
  border-bottom: 4px solid #f1ebe8;
}

.bounty_live{
  background: #f1ebe8;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.bounty_chat {
  background: #7be1b3;
  border-radius: 8px;
  padding: 8px 10px 8px 10px;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  display: inline-flex;
  word-wrap: break-word;
  font-weight: 500;
}

.playground_title{
  border-left: 5px solid #988080;
  padding-left: 5px;
}

.container_apply{
  min-height: 360px;
  max-height: 360px;
  overflow: scroll;
}

.container_comment{
  padding:10px 10px 10px 10px;
  background: #FAFAFA;
  min-height: 258px;
  max-height: 258px;
  overflow:scroll;
  border-radius: 10px;
}