@media only screen and (max-width: 820px) {
    .bottomBar{
        height: 3rem;
        display: flex;
        flex-direction: row;
        width: 100%;
        bottom: 0;
        z-index: 5;
        position: absolute;
        box-shadow: #494949 0 0 6px 2px;
    }
    div.bottomBar > div > p{
      display: none;
    }
  }
  @media only screen and (min-width: 820px) {
    .bottomBar{
        width: 128px;
    }
  }
  

  @media only screen and (max-width: 820px) {
    .bottomIcon{
      width: 10rem;
      padding: 0.8rem;
    }
  }
  @media only screen and (min-width: 820px) {
    .bottomIcon{
        height: 160px;
    }
  }
  