@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  body {
    @apply leading-[normal] m-0;
    overflow-x: hidden;
  }
}


*,
::before,
::after {
  border-width: 0;

  /* Hide scrollbar for Firefox */
  .scrollbar-none {
    scrollbar-width: none;
  }

  /* Hide scrollbar for Chrome, Safari, and Opera */
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}

.hide-scroll-bar::-webkit-scrollbar{
 display: none;
}
.hide-scroll-bar::-webkit-scrollbar-thumb{
 display: none;
}

@media screen and (min-width: 3500px){
  body{
    padding-inline: calc((100vw - 1500px) / 2);

  } 
}

/* @media screen and (min-width: 2000px){
  .Hero{
    aspect-ratio: 16/6 !important;
    background-size: cover;
    padding: 10vw !important;
  } 

  .Hero h1{
    font-size: 6em;
  }

  .Hero p{
    font-size: 2em;
  }
} */
