@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
    overflow-x: hidden;
  }
}

/* Webkit 浏览器 (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* 横向滚动条的宽度 */
  height: 8px; /* 纵向滚动条的高度 */
}

::-webkit-scrollbar-track {
  background: #1c1c22; /* 滚动条轨道的颜色 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2bff9c; /* 滚动条的颜色 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #24ee90; /* 滚动条在悬停时的颜色 */
}

/* Firefox */
.scrollbar-custom {
  scrollbar-width: thin; /* 滚动条宽度 */
  scrollbar-color: #6c6c7b #1e1e2f; /* 滚动条颜色和轨道颜色 */
}

/* 对于 Edge 和旧版浏览器 */
.scrollbar-custom {
  overflow: scroll;
}
