/* Style Updates to match VideoList.js */

.submit-area {
	padding: 20px; /* Adjusted padding to match VideoList */
	border-radius: 10px; /* Keep the rounded corners */
	background-color: rgb(255, 60, 127); /* Use color from VideoList create ad button */
	color: #fff; /* White text for contrast */
}

.account-area {
	margin-bottom: 40px; /* Make margin consistent */
}

.withdraw {
	background-color: #fff; /* Make background more neutral to match the VideoList */
	border: 1px solid #ddd;
	border-radius: 10px;
}

.balance {
	background-color: #f9f9f9; /* Matching the container styles from VideoList */
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 10px;
}

.status {
	color: #333; /* Use a dark color to match text in VideoList */
	padding: 20px;
	border-radius: 10px;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
}