@tailwind base;
@tailwind components;
@tailwind utilities;


.hexagon-container {
    position: relative;
    width: 100px; /* Adjust size as needed for your header */
    height: 100px;
    background-color: transparent;
    margin: 5px; /* Adjust margin as needed */
  }
  
  .hexagon {
    width: 100%;
    padding-bottom: 100%; /* Aspect ratio */
  }
  
  .hexagon svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
  }

  .white-circle {
    background-color: white;
  }

  .black-circle {
    background-color: black;
    border: 2px solid white;
  }

  /* Light animation */
  .light-orbit {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #e7017a;
    border-radius: 100%;
    top: 20px;
    left: 45px;
    transform: translateX(50%);
    animation: moveAround 3s linear infinite;
    z-index: 999;
  }

  .dark-orbit {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #e7017a;
    border-radius: 100%;
    top: 20px;
    left: 45px;
    transform: translateX(50%);
    animation: moveAround 3s linear infinite;
    z-index: 999;
    animation-delay: -1.5s;
  }

  /* Light moving around the circle */
  @keyframes moveAround {
    0% {
      transform: translateX(-25px) rotate(0deg) translate(25px);
    }
    100% {
      transform: translateX(-25px) rotate(360deg) translate(25px);
    }
  }