.ProjectbuttonText {
    color: white;
    background: var(--btn-bg);
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    font-size: 2.2vw;
    height: 100%;
    padding: 0;
    padding-top: 3vw;
    border-radius: 0.5vw;
    padding-bottom: 3vw;
    float: right;
    margin: 0px;
    width: 20vw;
}

.Grant-ElementBottomContainer{
    display: flex;
    position: absolute;
    right: 12px;
}

.Grant-Projectcontainer{
    display: flex;
    gap: 6px;
    flex-direction: column;    
}
.Grant-DetialsContainer{
  margin-left: 10px;
  display: flex;  
  width: 66%;
  flex-direction: column;
}

.Grant.NFT-Description{
    font-size: 1.3vw;
}