
.wallets {
    align-items: center;
    display: flex;
    position: sticky;
}
.wallet__balance {
    color: var(--text-top-primary-fg);
}
.wallet__address{
    color: var(--forground-color);
}
.main-nav {
    width: 86%;
    ul {
        align-items: center;
        display: flex;
        li {
            margin-right: 20px;
            a {
                color: var(--text-top-primary-fg);
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0.25px;
               
                &:hover,
                &.active {
                    opacity: 1;
                    text-decoration: none;
                }
            }
        }
    }

    .Nav.walletstatus{
        position: absolute;
        right: 10px;
    }
    @media only screen and (max-width: 500px) {
        ul {
            align-items: center;
            display: flex;
            justify-content: space-evenly;
    
            li {
                margin-right: 6px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .Nav.walletstatus{
            position: inherit;
            right: 0px;
        }
    }
}
