@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #222222;
    --foreground-color: #333333;

    --accent-color: #d45161;

    --text-primary-color: #ffffff;
    --text-secondary-color: #ffffff7f;

    --button-primary-color: #ffffff;

    --border-color: rgba(85, 85, 85, 0.50);
    --light-border-color: #555555;
    --header-border-color: #ffffff50;
    --hover-bg: #333333;
}

html {
    background-color: #2b2b2b;
}

body {
    max-width: 475px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-color);
    overflow-x: hidden;
}

* {
    color: #ffffff;
}

a {
    color: var(--accent-color);
}

*[disabled] {
    cursor: not-allowed;
    opacity: 0.3;
}


/***********
Booking Board
***********/

.bookingboard-preview-mode {
    display: grid;
    grid-gap: 8px;
    max-width: 320px;
    grid-template-columns: repeat(15, 1fr);
}

.bookingboard-preview-mode .preview-item {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.bookingboard-preview-mode .preview-item.available {
    background-color: var(--foreground-color);
}

.bookingboard-preview-mode .preview-item.choosen {
    background-color: var(--accent-color);
}

.bookingboard-selection-mode {
    display: grid;
    padding: 0px 16px 16px 16px;
    grid-gap: 8px;
    grid-template-columns: repeat(15, 1fr);
    position: relative;
    overflow: auto;
}

.bookingboard-selection-mode .preview-item {
    width: 32px;
    height: 32px;
    padding: 7px 11px;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem !important;
    font-weight: 500;
    color: var(--primary-color);
}

.bookingboard-selection-mode .preview-item.available {
    background-color: var(--foreground-color);
    cursor: pointer;
}

.bookingboard-selection-mode .preview-item.available:hover {
    background-color: var(--text-secondary-color);
}

.bookingboard-selection-mode .preview-item.choosen {
    cursor: pointer;
    background-color: var(--accent-color);
}

.right-gradient {
    top: 0px;
    right: -10px;
    width: 40px;
    opacity: 0.5;
    height: calc(100% - 16px);
    position: absolute;
    background: linear-gradient(270deg, #484848 63.02%, rgba(20, 20, 20, 0) 100%);
}

.left-gradient {
    top: 0px;
    left: -8px;
    width: 40px;
    opacity: 0.5;
    height: calc(100% - 16px);
    position: absolute;
    background: linear-gradient(90deg, #484848 63.02%, rgba(20, 20, 20, 0) 100%);
}

.circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.circle.available {
    background-color: var(--border-color);
}

.circle.chosen {
    background-color: var(--accent-color);
}