[submodule "bangkok/23-Dazhbog/src/substrate/dazhbog-contracts"]
	path = bangkok/23-Dazhbog/src/substrate/dazhbog-contracts
	url = https://github.com/Ceres-Blockchain-Solutions/dazhbog-contracts.git
	branch = polkadot-hackathon-2024
[submodule "bangkok/23-Dazhbog/src/backend/dazhbog-backend"]
	path = bangkok/23-Dazhbog/src/backend/dazhbog-backend
	url = https://github.com/Ceres-Blockchain-Solutions/dazhbog-backend.git
	branch = main
[submodule "bangkok/23-Dazhbog/src/ui/dazhbog-frontend"]
	path = bangkok/23-Dazhbog/src/ui/dazhbog-frontend
	url = https://github.com/Ceres-Blockchain-Solutions/dazhbog-frontend.git
	branch = main
