/* 主题色 */
/* 按钮 */
.el-button {
    background-color: #90caf9;
    border-color: #90caf9;
    color: #131a20;
}

/* 修改 el-button 点击后的颜色 */
.el-button:hover {
    background-color: #8fc8f8; /* 点击后的背景色 */
    border-color: #374959; /* 点击后的边框颜色 */
}

/* 文本框 */
.el-input {
    /* border-color: #303133; */
    /* background-color: #f0f9ff; */
    /* 背景颜色 */
    color: #606266;
    /* 文字颜色 */
}

.el-input:focus {
    border-color: #2eb8e6;
    /* 边框颜色 */
    background-color: #374959;
    /* 背景颜色 */
    color: #fff;
    /* 文字颜色 */
}
.el-input:active {
    border-color: #2eb8e6;
    /* 边框颜色 */
    background-color: red;
    /* 背景颜色 */
    color: #fff;
    /* 文字颜色 */
}

.el-input__inner,
.el-textarea__inner {
    background-image: none;
    -webkit-box-sizing: border-box;
    -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1)
}

.el-textarea {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
    font-size: 14px
}

.el-textarea__inner {
    display: block;
    resize: vertical;
    padding: 5px 15px;
    line-height: 1.5;
    box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    /* color: #606266; */
    color: #fff;
    background-color: #374959;
    border: 1px solid #374959;
    border-radius: 4px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1)
}

/* card */
.el-card {
    border-radius: 4px;
    border: 1px solid #415261;
    background-color: #374959;
    overflow: hidden;
    color: #303133;
    -webkit-transition: .3s;
    transition: .3s
}

/* select */
.el-select {
    background-color: #374959;
    /* 设置 el-select 的背景色为灰色 */
    color: #333;
    /* 设置 el-select 的文字颜色为深灰色 */
    border-color: #ccc;
    /* 设置 el-select 的边框颜色为浅灰色 */
}

.el-select-dropdown {
    border-color: #374959;
    background-color: #374959;
}

/* 修改 el-select 下拉框中选项的背景色和文字颜色 */
.el-select-dropdown__item {
    background-color: #374959;
    /* 设置下拉选项的背景色为灰色 */
    color: #fff;
    /* 设置下拉选项的文字颜色为深灰色 */
    border: #303133;
}

.el-select-dropdown__item:hover {
    background-color: #ccc;
    /* 设置鼠标悬停时选项的背景色为浅灰色 */
}

/* el-select 的下拉箭头颜色 */
.el-select .el-input__suffix .el-select__caret {
    color: #666;
}

.el-input--suffix .el-input__inner {
    background-color: #374959;
    border-color: #374959;
}

.el-popper[x-placement^=top] .popper__arrow::after {
    border-top-color: #374959;
}
.el-popper[x-placement^=bottom] .popper__arrow::after {
    border-bottom-color: #374959;
}

/* 修改 el-upload 按钮的背景色和文本颜色 */
.el-upload-dragger {
    background-color: #374959;
}


/* .el-radio.is-bordered.is-checked {
    border-color: #409EFF
}

.el-radio.is-bordered.is-disabled {
    cursor: not-allowed;
    border-color: #EBEEF5
}

.el-radio__input.is-disabled .el-radio__inner,
.el-radio__input.is-disabled.is-checked .el-radio__inner {
    background-color: #374959;
    border-color: #374959
}


.el-radio__input.is-disabled .el-radio__inner::after {
    cursor: not-allowed;
    background-color: #F5F7FA
}

.el-radio__input.is-checked .el-radio__inner {
    border-color: #374959;
    background: #374959
}

.el-radio__input.is-checked+.el-radio__label {
    color: #409EFF
}

.el-radio__input.is-focus .el-radio__inner {
    border-color: #374959
}

.el-radio__inner {
    border: 1px solid #374959;
    border-radius: 100%;
    width: 14px;
    height: 14px;
    background-color: #374959;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.el-radio__inner:hover {
    border-color: #409EFF
}

.el-radio__inner::after {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #FFF;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    -webkit-transition: -webkit-transform .15s ease-in;
    transition: -webkit-transform .15s ease-in;
    transition: transform .15s ease-in;
    transition: transform .15s ease-in, -webkit-transform .15s ease-in
} */
