.icon {
    box-shadow: 1px 1px 4px 1px var(--primary-color), -1px -1px 4px 1px var(--primary-color);
    height: 45px;
    width: 45px;
    padding: 5px;
    margin: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    box-shadow: 0 -3px 3px -3px var(--primary-color);
    border-radius: 5px;
}