/* .container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
} */

/* .landing-section, app-learn, app-network {
  scroll-snap-align: start;
  height: 100vh;

} */

.landing-section {
  scroll-snap-align: start;

  display: flex;
  flex-direction: column;
  padding: 2rem;

  /* min-height: 100vh */
}
.landing-section, app-learn, app-network {
  scroll-snap-align: start;
  height: 100vh;
}
app-learn, app-network {
  display: block;
  padding: 2rem;
}

.slogan {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
}

.gaint-logo {
  font-size: 7rem;
  font-weight: 700;
  margin: 100px 0 100px 0;
  /* justify-content: center; */

  /* text-align: center; */
}

.page-text {
  font-size: 2.5rem;
  font-weight: 500;
}
