@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;;
    background-color: white;
    scroll-behavior: smooth;
    font-family: var(--font_default), "Poppins", -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif, "Space Grotesk", "Pixeboy", "Pixelify Sans";
  }

  :root{
    --primaryButton: #E5007A;
    --primaryText: #485f7d

  }