nav {
  background-color: #fffdf8;
  height: 3.75rem;
  width: 100%;

  color: black;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* margin-right: 2%; */
}

nav li {
  display: inline;
  /* padding: 5px; */
}
nav a {
  text-decoration: none;
  color: #333;
  padding: 10px 10px;
}
.line {
  border: solid 4px black;
  border-radius: 5px;
  position: relative;
  width: 100%;
  box-shadow: 3px 3px #ccc;
  padding: 0 1rem 0 1rem;

}
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fffdf8;
  transition: top 0.1s ease-in-out;
  z-index: 1000;
  margin-bottom: 1rem;
}

#navbar.hidden {
  top: -100px;
}
