.footer {
  padding: 0px 0;
}

.container {
  display: flex;
}

.brand {
  margin-right: 110px;
  color: #858c97;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .heading {
    margin-bottom: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.98px;
    text-transform: uppercase;
    color: rgba(#045058, 0.8);
  }

  .link {
    font-weight: 500;
    line-height: 24px;
    color: rgba(#045058, 0.7);

    &:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}
