<section id="developer" class="developer-section">
  <nav class="side-nav">
    <ul *ngFor="let tab of tabs;  let i = index" (click)="selectTab(i)">
      <li>{{ tab.title }}</li>
    </ul>
  </nav>
  <div class="content">
    <div class="page-title">BuildON Gust;</div>
    <br>
    <ng-container *ngIf="selectedTab === 0">
      <app-docs-display></app-docs-display>
    </ng-container>
    <ng-container *ngIf="selectedTab === 1">
      <div class="tutorial-wrap">
        <h2>Create and Deploy your First Smart Contract</h2>
        <p>Hi Awesome Dev, Welcome. <br>

          This is a short guidance on how you can create a smart contract with Gustavo language,<br>
          and deploy it to the Gust Blockchain.

        </p>
        <h4>Step 1: You need a Gustavo Wallet</h4>
        <p>
          If you are completely new to Gustavo and you have not interacted with this platform, <br>
          simply head to the top navigation bar. <br>
          Click on Register <br> <br>
          <img width="60%" src="../../assets/gust-tut.png" alt="Register">
        </p>
      </div>
      <div class="tutorial-wrap">
        <p>
          If you have a Wallet the simply click on sign up at the bottom of the sign up form. <br> <br>
          <img width="20%" height="20%" src="../../assets/reg-form.png" alt="Login">
        </p>
      </div>
      <div class="tutorial-wrap">
        <p>
          Verify with the OTP that was sent to your whatsapp number, and you are all set. <br> <br>
          <img width="20%" height="20%" src="../../assets/verify.png" alt="Verify">
        </p>
      </div>
      <div class="tutorial-wrap">
        <p>
          Next we need to load our wallet with some test feucet, so we can continue with the task at hand.
        </p>
      </div>
      <h4>Step 2: You need to install Gustavo package</h4>
      <h4>Step 3: Next we start with drafting a simple smart contract 😄</h4>
      <p>
        Here comes the part you possibly been waiting for, interacting with a smart contract. <br>

        Open up the hello-world project in your favorite editor (we like VSCode). <br> Smart contracts are written in a language called Gustavo. <br>It is what we will use to write our HelloWorld.gus smart contract.‌<br> <br>

        1. Navigate to the “contracts” folder and create a new file called HelloWorld.gus <br>

        2. Below is a sample Hello World smart contract from the Gust Blockchain that we will be using for this tutorial. <br> <br>
        Copy and paste in the contents below into your HelloWorld.gus file, <br> and be sure to read the comments to understand what this contract does:

        <br> <br>

      </p>
      <pre>
        <code>
          {{ smartContractCode }}
        </code>
      </pre>
      <p>
        Notice that the file that we edited is named HelloWorld.gus <br> and we have updated the code inside with a simple function called SimpleTransaction. <br>
        It is good practice that the name of the function matches the file name. <br>
        let's rename the file from HelloWorld.gus to SimpleTransaction.gus. <br>
      </p>
      <h4>Step 4: Now your contract is ready to be deployed</h4>
      <p>
        Let's first update the fields below, so that the amount being sent goes to a specific receiver <br>
        and make sure the value is also specified.
      </p>
      <label for="recipient">Recipient</label> <br>
      <input type="text" id="recipient" name="recipient" placeholder="WhatsApp number" [(ngModel)]="recipient_address" required> <br>
      <label for="amount">Amount</label> <br>
      <input type="number" id="amount" name="amount" placeholder="amount" [(ngModel)]="amount" required> <br>
      <p>
        Simply click the button below and Run the code.
      </p>
      <!-- <button (click)="runDeployment()">Run Code</button> -->
      <div class="btn-wrapper">
        <button *ngIf="!isVerified" (click)="openVerification()">Start</button>
        <button *ngIf="isVerified" (click)="runDeployment()">Run</button>
      </div>
      <!-- <pre *ngIf="isDeploy">
        <code>
          {{ deploymentLog }}
        </code>
      </pre> -->
      <pre *ngIf="isDeploy">
        <code [innerHTML]="deploymentLog"></code>
      </pre>
    </ng-container>
    <ng-container *ngIf="selectedTab === 2">
      <app-editor></app-editor>
    </ng-container>
  </div>
  <app-verification-overlay
  [isVisible]="showOverlay"
  (verificationComplete)="handleVerification($event)"
  (onClose)="closeVerification()">
</app-verification-overlay>
</section>
