@font-face {
  font-family: 'Modernist';
  src: url('./fonts/Sk-Modernist-Regular.otf') format('opentype');
}

body {
  background-color: #101010;
  font-family: 'Modernist', sans-serif;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #1E90FF;
  /* Adjusted to a professional blue */
  --secondary-color: #FFA500;
  /* Changed to a complementary orange */
  --tertiary-color: #2f00ff;
  /* Changed to a deep purple */
}

h1 {
  font-size: 5rem;
  color: white;
  text-align: left;
  margin: 0;
  line-height: 1;
}

h2 {
  font-size: 1.8rem;
  color: white;
  text-align: left;
  margin: 0;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.underline:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

span {
  font-size: inherit;
  color: var(--primary-color);
  text-align: left;
  transition: color 0.3s ease;
}

h4 {
  font-size: 1.2rem;
  color: white;
  text-align: left;
  margin: 0;
}


/* This styles the scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* This styles the scrollbar thumb (the part that's draggable) */
::-webkit-scrollbar-thumb {
  background-color: white;
  /* Blue color for the thumb */
  border-radius: 10px;
  /* Rounded corners for the thumb */
  border: 3px solid black;
  /* Black border for the thumb */
}

/* This styles the scrollbar itself (width and height) */
::-webkit-scrollbar {
  width: 11px;
  /* Width of the vertical scrollbar */
  height: 10px;
  /* Height of the horizontal scrollbar */
}