@import '../node_modules/primeng/resources/primeng.css';
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules//primeng/resources/themes/bootstrap4-light-purple/theme.css';
@import '../node_modules/primeflex/primeflex.css';

.p-toolbar {
    padding: 7px 10px;
    background: transparent;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 3px -3px var(--primary-color);
    background: var(--surface-50);
}

button, input {
    padding: 4px 8px;
}

.p-dropdown-label {
    padding: 5px 8px;
    width: 120px;
}

.p-dropdown-item, .p-autocomplete-item {
    margin: 3px;
    padding: 3px 8px;
    border-radius: 5px;
}

.p-carousel * {
    padding: 0;
    margin: 0;
}

.p-carousel .p-carousel-indicators {
    display: none;
}

.p-autocomplete {
    width: 100%;
}

.p-autocomplete input {
    width: 100%;
}