@tailwind base;
@tailwind components;
@tailwind utilities;

@import "poppins.css";

body {
  color: #333;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background: #fff;
}

ccc-connector {
  z-index: 9;
}

.colorful {
  -webkit-text-fill-color: transparent;
}

.SelectTrigger {
  @apply flex;
  outline: none;
}

.SelectContent {
  @apply bg-white rounded-lg shadow-md py-1;
}

.SelectItem {
  @apply pl-6 pr-4 py-3 text-sm cursor-pointer flex items-center flex-row;
  outline: none;
}

.SelectItem[data-highlighted] {
  @apply bg-gray-100;
}

.loading-bg {
  background-image: linear-gradient(100deg, #dddddd, #f7f7f7,#dddddd);
  animation: loading-color 6s infinite;
  background-size: 400%;
}

@keyframes loading-color {
  0% {
    background-position : 0 0;
  }

  50% {
    background-position: 220% 0;
  }

  100% {
    background-position: 0 0;
  }
}


