<section id="about" class="about-section">
  <div class="page-title">Learn about Gust;</div>

  <div class="the-core">
    Gust is a revolutionary blockchain designed to
    make the world of decentralized applications
    (dApps) more accessible and efficient. With
    its innovative features, Gust aims to simplify
    the user experience and empower developers
    to create ground-breaking applications.
  </div>
  <div class="arrow1">
    <img src="../../assets/pppointed.svg" alt="<">
  </div>
  <div class="arrow2">
    <img src="../../assets/pppointed.svg" alt="<">
  </div>
  <div class="arrow3">
    <img src="../../assets/pppointed.svg" alt="<">
  </div>
  <div class="arrow4">
    <img src="../../assets/pppointed.svg" alt="<">
  </div>
  <div class="top-right">
   <strong> Native Token Support:</strong> All
    fungible tokens on Gust are
    native assets, allowing for
    flexible and efficient
    transactions using any
    supported token.
  </div>
  <div class="bottom-right">
    <strong>Gasless Transactions:</strong> Enjoy the
    freedom of transacting without
    worrying about gas fees. Gust's unique
    economic model ensures that fees are
    determined by smart contract
    developers and dApps, providing a
    transparent and fair environment.
  </div>
  <div class="top-left">
    <strong>Advanced Smart Contract
      Capabilities:</strong> Build powerful
      and versatile smart contracts
      using the Turing-complete
      Gustavo language. Gust's
      unique Runtime External
      Request Operator Nodes
      (RERON) enable seamless
      integration with external
      services, while the Gust
      Oracle Nodes provide reliable
      access to real-world data.
  </div>
  <div class="bottom-left">
    <strong>Simplified Onboarding:</strong> Forget about
    complex wallet setups and lengthy
    registration processes. Gust allows
    users to register with just an email
    address or phone number, making it
    easy for anyone to join the blockchain
    ecosystem.
  </div>

</section>
